$color-map: (
  kruger: (
    athens-gray: #f2f3f5,
    black-haze: #f7f8f8,
    chelsea-gem: #9a5f00,
    coral-red: #ff4646,
    cruise: #aeebd7,
    dove-gray: #686868,
    drover: #fcefb0,
    fountain-blue: #5b9fc0,
    gray-chateau: #a2a6af,
    gray: #808080,
    iron: #e0e1e4,
    lightning-yellow: #ffc419,
    buttercup: #eeb611,
    mine-shaft: #3a3a3a,
    mountain-meadow: #16c48c,
    persimmon: #fe634a,
    tropical-rain-forest: #007a53
  )
);
