// transition / animation easings
$easings:(
  default: cubic-bezier(.6, .05, 0, .95),
  bounce: cubic-bezier(.4, .2, .3, 1.4),
  smooth: cubic-bezier(.25, .1, .25, .1),
  ease: cubic-bezier(.4, .25, .3, 1)
);
