// em conversion
@function em($pixels, $context: 16) {
  @return #{$pixels/$context}em;
}

// rem conversion
@function rem($pixels) {
  @return #{$pixels/16}rem;
}

// cubic-bezier getter
@function cb($fn: default) {
  @return map-get($easings, $fn);
}

// color-control getter
@function cc($color, $option: false, $alpha: false) {
  $opacity: null;
  $variant: null;

  @if ($alpha)  {$opacity: $alpha;}
  @else         {$opacity: if(type-of($option) == 'number', $option, false);}

  @if ($option) {$variant: if(type-of($option) == 'number', default, $option);}
  @else         {$variant: default;}

  $scope: map-get($color-map, $color);

  @return if($opacity, rgba(map-get($scope, $variant), $opacity), map-get($scope, $variant));
}
