html {
    min-height: 100%;
}

text.ct-label {
    stroke: $white;
    font-size: rem(32);
}

.full-width {
    width: calc(100%);
}

.full-height {
    min-height: 100%;
}

.full-space {
    @extend .full-width;
    height: calc(100% - 64px - 4rem);
}

.interactive-map {
    padding-bottom: 1rem;
    cursor: default !important;
    display:flex;
    div {        
        cursor: default;
    }
    width: 100%;
    height: $mapPhoneSizeHeight;
    @media (min-width: $laptopSize) {
        padding-bottom: 0rem;
        width: $mapLaptopSizeWidth;
        height: $base-height;
    }
}

.limit-x {
    overflow-x: auto;
}

.image {
    width: 50px;
    height: 50px;
}

.green-back {
    background-color: $badge-green-color,
}

.yellow-back {
    background-color: $badge-yellow-color,
}

.red-back {
    background-color: $badge-red-color
}

.blue-back {
    background-color: $badge-blue-color,
}
