$dark: #02121B;
$dark-blue: #031F2B;
$grey: rgb(183, 197, 204);
$blue: #0e7dbe;
$white: #fff;
$red: red;
$green: green;
$yellow: yellow;
$light-blue: #13445C;
$primary-font: Montserrat, sans-serif;
$base-height: calc(100vh - 64px - 32px - 52px);
$page-title-size: rem(30);
$tab-font-size: rem(18);
$blue-gray: #0A3145;
$light-blue-gray: #708f9f;

$important-value-padding-text: rem(16);
$important-value-padding-value: rem(30);

$tabletSize: 600px;
$notificationTableHeight: 400px;
$importantValueSize: 600px; 
$laptopSize: 960px;

$homePageTableWidth: 40%;
$mapLaptopSizeWidth: calc(60% - 1rem);
$mapPhoneSizeHeight: 400px;

$badge-red-color: red;
$badge-yellow-color: yellow;
$badge-green-color: #10a300;
$badge-blue-color: #64c2ef;
