.station-page {
    height: $base-height;
    &-important-values {
        width: $importantValueSize;
    }

    .notifications-table {
        height: $notificationTableHeight;
    }

    .station-name {
        font-family: $primary-font;
        font-size: $page-title-size;
    }
}
