.chartist-pie {
    width: rem(150); 
    height: rem(150);
    &-yellow {
        stroke: $yellow;
    }
    &-red {
        stroke: $red;
    }
    &-green {
        stroke: $green;
    }
    &-grey {
        stroke: $blue-gray;
    }
}
