.nav-bar {
    background-color: $dark;
    &-title {
        font-size: rem(32);
        color: $white;
        text-decoration: none;
        cursor: pointer;
    }
    .description {
        font-size: rem(10);
        color: $white;
        text-decoration: none;
        cursor: pointer;
    }
}
