.slide-menu {
    .tabContainer {
        background-color: $dark;
    }
    .tabText {
        font-size: $tab-font-size;
        text-transform: initial;
    }
    .tabIndicator {
        height: 0;
    }
    .tabActive {
        font-size: $tab-font-size;
        background-color: $light-blue;
        text-transform: initial;
    }
    .appbar {
        background-color: $dark-blue;
    }
    .tabs {
        align-self: flex-end;
        background-color: $dark;
    }
}
